          +----------------------------+
          | CS 318                     |
          | PROJECT 3a: VIRTUAL MEMORY |
          | DESIGN DOCUMENT            |
          +----------------------------+

---- GROUP ----

>> Fill in the names and email addresses of your group members.

Jennifer Ye <jye37@jhu.edu>
Dhilan Patel <dpatel93@jhu.edu>
Katherine Forbes <kforbes6@jhu.edu>

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please give them here.

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.

          PAGE TABLE MANAGEMENT
          =====================

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

enum page_status {
  IN_MEMORY,
  IN_SWAP,
  IN_FILESYS,
  NOT_LOADED
};
Purpose: Tracks current location of virtual page (e.g., in memory, 
swap, or not loaded).

enum page_source {
  SOURCE_FILE, 
  SOURCE_SWAP,
  SOURCE_ZERO
};
Purpose: Records the original source of a page entry to decide how to 
reload it on page fault.


struct sup_page_table_entry {
  void *vaddr; 
  bool writable;
  enum page_status status;
  enum page_source source;
  struct lock page_lock;

  struct file *file;
  off_t file_offset;
  uint32_t read_bytes;
  uint32_t zero_bytes;
  swap_index_t swap_index;

  struct hash_elem hash_elem;
};
Purpose: Stores metadata about user pages in a supplemental page 
table for lazy loading, swapping, and fault handling (for memory-mapped file)

extern struct lock filesys_lock; 
Purpose: For exclusive usage of filen I/O by one process- preventing race condition.

---- ALGORITHMS ----

>> A2: In a few paragraphs, describe your code for accessing the data
>> stored in the SPT about a given page.

If checking the SPT, that means it must be a page fault. We hash the virtual address to find the corresponding 
sup_page_table_entry with sup_page_table_lookup. This entry tells us 
where the data lives - either in swap (backup storage after being evicted),
or file (backed and mapped to a file), etc)-- and how to load it. On page 
fault, load_page() is called, which either loads from the file, swap,
or zeroes the page.

If the page resides in swap (status = IN_SWAP), the swap index stored 
in the entry indicates where to read the page from the swap device. 
The page is brought back into memory using swap_in().

If the page is file-backed (status = IN_FILESYS), the entry includes the 
file pointer, offset, and read-bytes information. This information guides
loading the necessary bytes from the file into memory, filling the remainder
with zeros as needed.

If the page requires initialization to zero (status = ALL_ZERO), a new page of
physical memory is allocated and zeroed without accessing a file or swap.


>> A3: How does your code coordinate accessed and dirty bits between
>> kernel and user virtual addresses that alias a single frame, or
>> alternatively how do you avoid the issue?

We rely on the accessed and dirty bits from the user page directory. 
Since kernel accesses to user pages are discouraged ( avoid aliasing
issues), we only access user memory using user virtual addresses. If
kernel access is needed (in syscall.c for exmaple), we make sure  accessed/dirty
bits are handled gracefully via pagedir_set_accessed/dirty.


---- SYNCHRONIZATION ----

>> A4: When two user processes both need a new frame at the same time,
>> how are races avoided?

We have frame_table_lock to protect frame allocation and eviction from 
race condition. Additionally, each sup_page_table_entry has its own 
page_lock for during I/O and eviction to avoid deadlock.

---- RATIONALE ----

>> A5: Why did you choose the data structure(s) that you did for
>> representing virtual-to-physical mappings?

Here's what we do to represent vtop mappings:
* SPT: Hash table for fast lookups and insertion.
* Frame Table: List for iteration during eviction (clock algorithm).
* Swap Table: Bitmap for constant-time allocation and deallocation.

We favored simpler, proven structures that were already integrated into Pintos.
SPT is necessary since it contains meta-information about the status of page table
that can't be captured by just having a page table; Frame table is needed to have
a global view of all the active frames; And swap table keeps tracks of "backup 
storage". In addition, for each data structure that can potentially accessed by 
multiple threads, we protect it with locks to prevent deadlock.

          PAGING TO AND FROM DISK
          =======================

---- DATA STRUCTURES ----

>> B1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

static struct bitmap *swap_bitmap;
Purpose: Tracks used and free swap slots. Indexed by swap page.

struct frame_entry {
  void *kpage;
  struct thread *owner;
  struct sup_page_table_entry *spte;
  bool pinned;
  struct list_elem elem;
};
Purpose: tracks frame ownership, eviction eligibility, and connection to SPT.

---- ALGORITHMS ----

>> B2: When a frame is required but none is free, some frame must be
>> evicted.  Describe your code for choosing a frame to evict.

The frame eviction process utilizes the "clock algorithm". We keep a pointer
that circles the frame_list element by element for exaclty two cycles.
If the pointer meets an "accessed page", it sets it to "unaccessed" but skips
(aka giving second chance). However, if it sees any unaccessed page when it
circles back, it would evict that page. Note that any pinned page is skipped.
For the page that's picked for eviction, it either goes to swap or do nothing
if it's in file system.


>> B3: When a process P obtains a frame that was previously used by a
>> process Q, how do you adjust the page table (and any other data
>> structures) to reflect the frame Q no longer has?

Before reuse, the frame’s previous page table mapping is removed via 
pagedir_clear_page (marking it as not present and clear the TLB too), 
which CPU will no longer able to translate virtual address to that evicted
frame without causing a page fault. It also removes that entry from the 
global frame list.

---- SYNCHRONIZATION ----

>> B5: Explain the basics of your VM synchronization design.  In
>> particular, explain how it prevents deadlock.  (Refer to the
>> textbook for an explanation of the necessary conditions for
>> deadlock.)


The necessary conditions for deadlock are:
1. Mutual exclusion - threads claim exclusive access to resources
2. Hold and wait - threads hold a resource and wait for another
3. No preemption - resources cannot be forcibly removed from a thread
4. Circular wait - threads form a circular chain of waiting resources

The design that we chose is a lock based design to handle synchronization. We utilize a global frame table lock 
to protect the frame table from race conditions. Additionally, we use page locks
for each SPT entry to protect individual pages and allow operations on different pages to happen 
in parallel. We address the necessary conditions for deadlock by:

* only using non-blocking lock aquisition (lock_try_acquire) in our clock algorithm to avoid holding and waiting
* establishing a global order of lock aquisition (frame table first, then SPT, then swap table) 
* temporary releasing the lock when waiting for I/O operations to complete in the frame eviction process
* pinning frames to avoid eviction while a process is holding a page lock
* releasing locks when circular dependecies could occur (e.g. when a process is evicting a page that another process is waiting for)


>> B6: A page fault in process P can cause another process Q's frame
>> to be evicted.  How do you ensure that Q cannot access or modify
>> the page during the eviction process?  How do you avoid a race
>> between P evicting Q's frame and Q faulting the page back in?

We implemented mechanisms to ensure safe eviction. First, when we start the process to evict Q's frame,
we clear Q's page directory to prevent Q from accessing the page, part of which includes invalidating TLB entries 
for the mapping. This makes it so that Q will not have access to the page without causing a page fault.
We use page locks, so that P must acquire the lock for Q's SPT entry before evicting Q's frame.
We atomically update the SPT entry while the page lock is held. Since P holds both the frame 
table lock and the page lock, this prevents undesired access to the frame. Once the page is evicted,
the frame entry is removed from the frame table and Q will need to allocate a new frame if it wants to 
fault in the page again. These mechanisms ensure that Q can not access or modify the page during
the eviction process, preventing race conditions.

>> B7: Suppose a page fault in process P causes a page to be read from
>> the file system or swap.  How do you ensure that a second process Q
>> cannot interfere by e.g. attempting to evict the frame while it is
>> still being read in?

We handle this by pinning the frame as soon as it gets allocated. This happens in the load_page() function.
When the evicttion process occurs, we explicitly check if a frame is pinned. If it is, we skip it and don't consider it for eviction.
Once the frame is fully loaded into memory and the page table is updated, we unpin it. This ensures
the frame is not evicted while being loaded.


>> B8: Explain how you handle access to paged-out pages that occur
>> during system calls.  Do you use page faults to bring in pages (as
>> in user programs), or do you have a mechanism for "locking" frames
>> into physical memory, or do you use some other design?  How do you
>> gracefully handle attempted accesses to invalid virtual addresses?

We handle this by validating all pages before accessing them and using the page fault handler to load the page. 
We use frame pinning to prevent eviction during the system call and then unpin all frames when the system call 
is complete. This way, we can ensure all pages required by the system call are loaded into memory before being 
used. When attempting to access an invalid virtual address, a graceful failure occurs. We return an error code and
ensure partial writes do not occur. The virtual address is not added to the page table. We make sure to 
properly validate the address before accessing it, by checking the address range. We also check if the
address exists in the page table. 

---- RATIONALE ----

>> B9: A single lock for the whole VM system would make
>> synchronization easy, but limit parallelism.  On the other hand,
>> using many locks complicates synchronization and raises the
>> possibility for deadlock but allows for high parallelism.  Explain
>> where your design falls along this continuum and why you chose to
>> design it this way.

We chose to implement a sort of hierarchical locking design. We use both a global lock and page specific locks.
The global lock is used to protect the frame table and the swap table from race conditions. The page specific locks
protect the STP entries from race conditions. The file system lock protects the file I/O operations from race conditions.

We chose this type of design because it employs a moderate approach that balances parallelism and synchronization.
This also allows for a manageable amount of complexity with very well-defined locks that have clear purposes. 


          SURVEY QUESTIONS
          ================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

>> Do you have any suggestions for the TAs to more effectively assist
>> students, either for future quarters or the remaining projects?

>> Any other comments?
